*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.3s;
}

:root{
    --branco: rgb(255,255,255);
    --cinza-texto: #A1A1AA;
    --cinza-claro: #323238;
    --cinza-escuro: #212121;
    --preto: #000000;
}

.imagem-fundo{
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    background-attachment: fixed;
}

.fundo-preto{
    background-color: #000000
}

.cor{
    color: var(--branco)
}

.quadro_filme{
    position: relative;
    top: 20px;
    background-color: #323238;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    text-align: left;
    margin-left: 30%;

}

.texto{
    margin-left: 20px;
    font-size: 20px;
}

.nome{
    font-size:25px;
    font-weight: bold;
}

.negrito{
    font-weight: bold;
    color: #A1A1AA;
}

.editar{
    position: relative;
    top: 20px;
    left: 15px;
    color: var(--branco);
    background-color: #389729;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}

.deletar{
    position: relative;
    top: 20px;
    left: 15px;
    color: var(--branco);
    background-color: #d93838;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}

.adicionar{
    position: relative;
    top: 60px;
    color: var(--branco);
    background-color: #285cb5;
    border-radius: 5px;
    width: 500px;
    height: 30px;
}

.adicionar2{
    position: relative;
    top: 20px;
    color: var(--branco);
    background-color: #285cb5;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}

.centraliza{
    text-align: center;
}

.letra{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.espaco-cima{
    position: relative;
    top: 30px
}